# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs and database files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testing / coverage
.coverage
.tox/
.nox/
htmlcov/
.pytest_cache/

# Ignore all files and folders starting with '_'
_*/
_*
